.bid {
  .card {
    margin-bottom: space(4);
  }
}

@media screen and(min-width: 768px) {
  .bid {
    .card {
      border-radius: 10px 0 0 10px ;
      display: flex;
      overflow: hidden;
      .card__body {
        width: 100%;
      }
      .card__image img{
        width: 390px;
        border-radius: initial;
        border-bottom: 0;
        border-right: 1px solid var(--grey) ;
      }
    }
  }
}