.header {
  @extend .container !optional;
  display: flex;
  align-items: center;
  margin-top: space(2);
}

.header__menu {
  display: none;
}

.nav__mobile {
  display: flex;
  flex-direction: column;
  gap: space(10) 0;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #ffffffc0;
  backdrop-filter: blur(15px);
  transform: translateX(100%);
  transition: transform 0.3s;
  font-size: 1.5rem;

  * > *:hover {
    border-bottom: 3px solid var(--primary);
  }
}

.header__right {
  display: none;

  .logout{
    display: flex;
    align-items: center;
    & svg{
      margin-left: space(1);
    }
  }
}

@media screen and (min-width: 810px) {
  .header {
    justify-content: space-between;
  }
  .burger__menu {
    display: none !important;
  }
  .header__menu {
    display: flex;
    align-items: center;

    & > * {
      padding-right: space(3);
    }
    & > *:last-child {
      padding-right: 0;
    }
  }
  .header__right {
    display: flex;
    align-items: center;
    top: 1rem;
    left: 1rem;

    & > *:not(:last-child) {
      margin-right: space(1);
    }

    .icon {
      margin-right: space(2);
    }

    a:not(:last-child) {
      margin-right: calc(2 * var(--space));
    }
  }
}