#nav {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  padding: space(2) 0;
  background-color: white;
  z-index: 2;
}

.header {
  display: flex;
  align-items: center;
  .header__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    margin-right: space(2);
    z-index: 9;
    a{
      display: none;
    }
  }

  .header__icon {
    display: flex;
    align-items: center;
    > *:not(:last-child){
      margin-right: space(2);
    }
    > *:hover{
      cursor: pointer;
    }
  }
}

.header__menu {
  display: none;
}

.nav__mobile {
  display: flex;
  flex-direction: column;
  gap: space(10) 0;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #ffffffc0;
  backdrop-filter: blur(15px);
  transform: translateX(100%);
  transition: transform 0.3s;
  font-size: 1.5rem;

  * > *:hover {
    border-bottom: 3px solid var(--primary);
  }
}

@media screen and (min-width: 810px) {
  .header {
    justify-content: space-between;

    .header__icon {
      position: initial;
    }
    .header__right{
      display: flex;
      align-items: center;
      flex-grow: 0;
      a {
        display: inherit;
      }
      & > *:not(:last-child) {
        margin-right: space(2);
      }
    }
  }
  .burger__menu {
    display: none !important;
  }
  .header__menu {
    display: flex;
    align-items: center;

    & > *:not(:last-child) {
      padding-right: space(3);
    }
  }

}