.personal {
  > div {
    padding: space(3) space(4);
    border: 1px solid #D5E3EC;
  }
  form {
    button{
      display: block;
      margin-top: space(2);
    }
  }
}
.personal__group{
  margin-bottom: space(2);
  white-space: nowrap;
}
.personal__form{
  label{
    display: block;
    padding-bottom: space(2);
  }
}
.personal__group.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}
.button__action{
  justify-content: flex-end;
  margin-top: space(2);
  button{
    min-width: 100%;
    width: 100%;
  }
}
@media screen and(min-width: 768px){
  .personal__form {
    display: flex;
    & > div:not(.personal__group):nth-child(2){
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: space(2);
      padding-left: space(4);
      width: 100%;
    }
  }
  .personal__group{
    margin-bottom: 0;
  }
  .button__action{
    display: flex;
    align-items: center;

    button{
      min-width: initial;
      width: fit-content;
      :last-child{
        margin-left: space(2);
      }
    }
  }
}