.avatar_profile__container {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 100%;
  transition: .4s ease;

  input[type="file"] {
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
  }

  img {
    height: 100%;
    width: 100%;
    max-width: 150px;
    object-fit: fill;
  }

  #test {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    padding: space(1.2);
    cursor: pointer;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.48);
    backdrop-filter: blur(14px);
    border-radius: 30px;
    top: 50%;
    left: 50%;
    width: 50px;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .4s ease;

    :hover {
      cursor: pointer;
    }

    .upload__icon {
      width: 28px;
    }
  }
}

.avatar_profile__container.hover {
  #test {
    opacity: 1;
  }
}
