@import "../../../tools/functions";

.navbar__right {
  display: none;

  .logout{
    display: flex;
    align-items: center;
    & svg{
      margin-left: space(1);
    }
  }
}

@media screen and (min-width: 810px) {
  .navbar__right {
    display: flex;
    align-items: center;
    top: 1rem;
    left: 1rem;

    & > *:not(:last-child) {
      margin-right: space(1);
    }

    .icon {
      margin-right: space(2);
    }

    a:not(:last-child) {
      margin-right: calc(2 * var(--space));
    }
  }
}